/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

.header {
  display: flex;
  flex-direction: horizontal;
}

.logo {
  color: #fff;
  margin-right: 30px;
}
